.list-group-item  {
  height: 50px;

  &:hover {
        background-color: #d6dcff;
        opacity: 50%;
    }
}

.badge {
  cursor:pointer;
}

.badge-complete {
  background-color: green;
}

.badge-incomplete {
  background-color: red;
}

.input-group {
  margin: 20px 0px;
}
